# Week3 - Location Data Analysis Toronto

# Importing Pandas Lib

In [229]:
import pandas as pd

## Reading the CSV file containing the Wikipedia Data

In [230]:
filename = "190615_manualScrapingWikiPageNy.csv"

In [231]:
df = pd.read_csv(filename)

In [232]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [233]:
df.shape

(288, 3)

## Deleting the rows that contain "Not assigned value"

In [234]:
df = df.set_index("Borough")

In [235]:
df.head()

                 Postcode     Neighbourhood
Borough
Not assigned          M1A      Not assigned
Not assigned          M2A      Not assigned
North York            M3A         Parkwoods
North York            M4A  Victoria Village
Downtown Toronto      M5A      Harbourfront

In [236]:
df = df.drop("Not assigned", axis=0)

In [237]:
df.shape

(211, 2)

In [238]:
df = df.reset_index()

In [239]:
df.head()

            Borough Postcode     Neighbourhood
0        North York      M3A         Parkwoods
1        North York      M4A  Victoria Village
2  Downtown Toronto      M5A      Harbourfront
3  Downtown Toronto      M5A       Regent Park
4        North York      M6A  Lawrence Heights

In [240]:
cols = df.columns.tolist()
cols = [cols[1], cols[0], cols[2]]

In [241]:
cols

['Postcode', 'Borough', 'Neighbourhood']

In [242]:
df = df[cols]

In [243]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

## Replacing the Neighborhood value that contain "Not assigned" value by the same Borough value

In [244]:
for idx in df.index:
    if(df.iloc[idx,2]=="Not assigned"):
        df.iloc[idx,2] = df.iloc[idx,1]
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

## Build the compact data frame unifying duplicated rows

In [245]:
df2 = pd.DataFrame(columns=["Postcode","Borough","Neighbourhood"])
for postCodeIdx in df["Postcode"].unique().tolist():
    tempDf=df[df["Postcode"] == postCodeIdx]
    tempNeighList = tempDf["Neighbourhood"].tolist()
    compactedRows.append([postCodeIdx, tempDf["Borough"].tolist()[0],", ".join(str(x) for x in tempNeighList)])
    tempNeighStr = ", ".join(str(x) for x in tempNeighList)
    y= {'Postcode':postCodeIdx, 'Borough': tempDf["Borough"].tolist()[0], 'Neighbourhood': tempNeighStr}
    df2 = df2.append(y, ignore_index=True)
df = df2
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park

In [246]:
df.shape

(103, 3)

## Printing the final number of rows of the post processed data frame

In [247]:
df.shape[0]

103

# Importing the geo coordinaltes and building the new data frame

In [248]:
import numpy as np

In [249]:
filename = "Geospatial_Coordinates.csv"

In [250]:
df_geo = pd.read_csv(filename)

In [251]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [252]:
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park

In [253]:
df_tmp = df
df_tmp["Latitude"] = np.zeros(df_tmp.shape[0])
df_tmp["Longitude"] = np.zeros(df_tmp.shape[0])
for idx in df_tmp.index:
    for idx_geo in df_geo.index:
        if(df_tmp.iloc[idx,0] == df_geo.iloc[idx_geo,0]):
            df_tmp.iloc[idx,3] = df_geo.iloc[idx_geo,1]
            df_tmp.iloc[idx,4] = df_geo.iloc[idx_geo,2]

In [255]:
df = df_tmp

In [256]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494