# Week3 - Location Data Analysis Toronto

## Importing Pandas Lib

In [200]:
import pandas as pd

## Reading the CSV file containing the Wikipedia Data

In [201]:
filename = "190615_manualScrapingWikiPageNy.csv"

In [202]:
df = pd.read_csv(filename)

In [203]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [204]:
df.shape

(288, 3)

## Deleting the rows that contain "Not assigned value"

In [205]:
df = df.set_index("Borough")

In [206]:
df.head()

                 Postcode     Neighbourhood
Borough
Not assigned          M1A      Not assigned
Not assigned          M2A      Not assigned
North York            M3A         Parkwoods
North York            M4A  Victoria Village
Downtown Toronto      M5A      Harbourfront

In [207]:
df = df.drop("Not assigned", axis=0)

In [208]:
df.shape

(211, 2)

In [209]:
df = df.reset_index()

In [210]:
df.head()

            Borough Postcode     Neighbourhood
0        North York      M3A         Parkwoods
1        North York      M4A  Victoria Village
2  Downtown Toronto      M5A      Harbourfront
3  Downtown Toronto      M5A       Regent Park
4        North York      M6A  Lawrence Heights

In [211]:
cols = df.columns.tolist()
cols = [cols[1], cols[0], cols[2]]

In [212]:
cols

['Postcode', 'Borough', 'Neighbourhood']

In [213]:
df = df[cols]

In [214]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

## Replacing the Neighborhood value that contain "Not assigned" value by the same Borough value

In [215]:
for idx in df.index:
    if(df.iloc[idx,2]=="Not assigned"):
        df.iloc[idx,2] = df.iloc[idx,1]
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

## Build the compact data frame unifying duplicated rows

In [216]:
df2 = pd.DataFrame(columns=["Postcode","Borough","Neighbourhood"])
for postCodeIdx in df["Postcode"].unique().tolist():
    tempDf=df[df["Postcode"] == postCodeIdx]
    tempNeighList = tempDf["Neighbourhood"].tolist()
    compactedRows.append([postCodeIdx, tempDf["Borough"].tolist()[0],", ".join(str(x) for x in tempNeighList)])
    tempNeighStr = ", ".join(str(x) for x in tempNeighList)
    y= {'Postcode':postCodeIdx, 'Borough': tempDf["Borough"].tolist()[0], 'Neighbourhood': tempNeighStr}
    df2 = df2.append(y, ignore_index=True)
df = df2
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park

In [217]:
df.shape

(103, 3)

## Printing the final number of rows of the post processed data frame

In [218]:
df.shape[0]

103